@use '../../styles/variables' as vars;

.field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    font-size: 16px;
    font-weight: 500;
    color: vars.$primary-color;
    margin-bottom: 5px;
  }

  input {
    padding: 0.5rem 0.75rem;
    border: 1px solid vars.$secondary-bg;
    border-radius: 4px;
    font-size: 14px;
    color: vars.$third-color;
    box-shadow: inset 0 1px 2px vars.$light-shadow;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;

    &:focus {
      border-color: vars.$hover-links;
      box-shadow: 0 0 0 3px vars.$blue-shadow;
      outline: none;
    }
  }

  .error {
    font-size: 12px;
    color: vars.$error-message;
    margin-top: 5px;
  }
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: vars.$secondary-color;
    transform: scale(1.05);
  }
}

.icons-container {
  display: grid;
  margin-top: 20px;
}

.city-form {
  margin-top: 3rem;
  border: none;
  padding: 2%;
}
