@use '../../styles/variables.scss' as vars;

.admin-dashboard-title {
  padding: 2%;
  width: 100%;
  color: vars.$secondary-color;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 3%;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .user-details-card {
    margin: 2%;
    padding: 2%;
    width: 40%;
    background-color: vars.$primary-bg;
    border-radius: 10px;
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
      width: 80%;
    }
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .role-change-section {
    margin: 2%;
    padding: 2%;
    width: 40%;
    background-color: vars.$primary-bg;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 80%;
    }
  }
}
