@use '../../styles/variables' as vars;

.field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    font-size: 16px;
    font-weight: 500;
    color: vars.$primary-color;
    margin-bottom: 5px;
  }

  input {
    padding: 0.5rem 0.75rem;
    border: 1px solid vars.$secondary-bg;
    border-radius: 4px;
    font-size: 14px;
    color: vars.$third-color;
    box-shadow: inset 0 1px 2px vars.$light-shadow;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;

    &:focus {
      border-color: vars.$third-color;
      box-shadow: 0 0 0 3px vars.$blue-shadow;
      outline: none;
    }
  }

  .error {
    font-size: 12px;
    color: vars.$error-message;
    margin-top: 5px;
  }
}

button[type='submit'],
.edit-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &.MuiButton-containedPrimary {
    background-color: vars.$primary-bg;
    color: vars.$base-color;

    &:hover {
      background-color: vars.$secondary-bg;
      transform: scale(1.05);
    }
  }
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: vars.$base-color;
  box-shadow: 0 4px 6px vars.$blue-shadow;
}

@media (max-width: 600px) {
  .field-container label {
    font-size: 14px;
  }

  input {
    font-size: 12px;
  }

  button {
    font-size: 14px;
  }
}

h1 {
  color: vars.$secondary-color;
  height: 100px;
}
