{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 150,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "bracketSpacing": false
}
