
.links {
    display: inline-block;
    text-align: center;
    padding: 15px 0; 
    cursor: pointer;
    font-size: 16px;
    color: inherit;
    text-decoration: none;
    transition: font-size 0.2s ease, color 0.2s ease;
  
    &:hover {
      font-size: 18px;
      color: #214061;
      font-size: large;
    }
}
  
.customTypography {
  padding: 15px 0;
  flex-grow: 1;
  font-size: 1.25rem; 
  font-weight: 500; 
  line-height: 1.75;
}

.imgUser {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    width: 40px;
    height: 40px;
  }
}