@use './variables' as vars;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #cef0f8;
}

button[type='button'] {
  background-color: #ffffff00;

  &:hover {
    background-color: #cef0f8;
  }
}