$primary-color: #3a506b;
$secondary-color: #a0c49d;
$third-color: #1a202c;

$primary-bg: #f8f9fa;
$secondary-bg: #d0dae4;

$error-message: #ff4747;
$hover-links: #5c7592;
$base-color: #fff;

$shadow: rgba(0, 0, 0, 0.2);
$light-shadow: rgba(0, 0, 0, 0.075);
$blue-shadow: rgba(66, 153, 225, 0.5);
